
/* COLOR HEADER */
.encabezado .label {
    -fx-text-fill: #b7950b;
}
 
/* COLOR BORDER CELL SELECTED */
.table-view:focused .table-row-cell:selected {
    -fx-table-cell-border-color: #00000090;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #b7950b, #000000);
}
